body {
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background-color: red;
}

.user {
    position: absolute;
    right: 5%;

}

li.inline-top {
    display: inline;
    padding: 0.5em
}