{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/base.css' %}"/>
    {% block head %}
    {% endblock %}

    <style>
         .hide {
        visibility:hidden;
    }
    .remove {
        visibility: hidden;
        display: none;

    }
    </style>

{% block css %}{% endblock %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"></head>

</head>
<body>
     <ul class="menu">
    <div id="header">
        <span class="logo">
            <a href="{% url 'account:dashboard' %}" class="logo-link">
                <img src="{% static 'landing/images/logo.png' %}" height="65px" class="logo-img">
            </a>
        </span>
        {% if request.user.is_authenticated %}
           
                <li class="inline-top {% if section == 'dashboard' %}selected{% endif %}">
                    <a href="{% url 'account:dashboard' %}" class="top-item {% if section == 'dashboard' %}selected{% endif %}">Dashboard</a>
                </li>
                <li class="inline-top {% if section == 'books' %}selected{% endif %}">
                    <a href="{% url 'book:all_books_view' %}" class="top-item {% if section == 'books' %}selected{% endif %}">My books</a>
                </li>
                <li class="inline-top {% if section == 'clubs' %}selected{% endif %}">
                    <a href="{% url 'club:club_selection' %}" class="top-item {% if section == 'clubs' %}selected{% endif %}">My Clubs</a>
                </li>
                <li class="inline-top {% if section == 'profile' %}selected{% endif %}">
                    <a href="{% url 'account:edit' %}" class="top-item {% if section == 'profile' %}selected{% endif %}">My Profile</a>
                </li>

        {% else %}
            <li class="inline-top {% if section == 'dashboard' %}selected{% endif %}">
                <a href="{% url 'account:dashboard' %}" class="top-item {% if section == 'dashboard' %}selected{% endif %}">Dashboard</a>
            </li>
            <li class="inline-top warning">
                <span class="guest-warning">To properly use the page, please register or login</span>
            </li>

        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                <a href="{% url 'account:logout' %}" class="account">Logout</a>
            {% else %}
                <a href="{% url 'account:register' %}" class="account">Register</a>
                <a href="{% url 'account:login' %}" class="account">Log-in</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    </li>
    </ul>
<script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>


<script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
       });
  </script>
{% block javascript %}{% endblock %}
</body>
</html>

