{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
{% block css %}{% endblock %}
</head>
<body>
     <ul class="menu">
    <div id="header">
        <span class="logo">BookClub</span>
        {% if request.user.is_authenticated %}
           
                <li {% if section == 'dashboard' %}class="selected"{% endif %}>
                    <a href="{% url 'account:dashboard' %}">My dashboard</a>
                </li>
                <li {% if section == 'images' %}class="selected"{% endif %}>
                    <a href="{% url 'book:all_books_view' %}">My books</a>
                </li>
                <li {% if section == 'people' %}class="selected"{% endif %}>
                    <a href="{% url 'club:club_selection' %}">My Clubs</a>
                </li>
                <li {% if section == 'profile' %}class="selected"{% endif %}>
                    <a href="{% url 'account:edit' %}">My Profile</a>
                </li>
            
        {% endif %}
        <li
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user }},
                <a href="{% url 'account:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account:login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    </li>
    </ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>

<script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
       });
  </script>
{% block javascript %}{% endblock %}
</body>
</html>

