[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
gunicorn = "*"
asgiref = "*"
astroid = "*"
certifi = "*"
chardet = "*"
django-crispy-forms = "*"
django-el-pagination = "*"
django-extensions = "*"
goodreads = "*"
idna = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
nose = "*"
Pillow = "*"
pkg-resources = "*"
psycopg2 = "*"
pylint = "*"
pytz = "*"
rauth = "*"
requests = "*"
six = "*"
sorl-thumbnail = "*"
sqlparse = "*"
typed-ast = "*"
urllib3 = "*"
wrapt = "*"
xmltodict = "*"
whitenoise = "*"
dj-database-url = "*"
uwsgi = "*"
django-csp = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
