{% extends "base.html" %}
{% load static %}

{% block title %}Sign-in{% endblock %}
{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/edit.css'%}" />
<style>
    .help-link {
        display: table;
        background: none;
        border: none;
    }

    input {
        background: #fff0;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="help-text">Sign-in</h1>
    {% if form.errors %}
    <p class="error-text">
        Your username and password didn't match.
        Please try again.
    </p>
    {% else %}
    {% endif %}
    <div class="login-form">
        <form action="{% url 'account:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Sign-in"></p>
        </form>
        <div class="help-links">
            <p class="help-link"><a href="{% url 'account:register' %}" class="help-link">Need an account?</a> </p>
            <p class="help-link"><a href="{% url 'account:password_reset' %}" class="help-link">Forgotten your password?</a></p>
        </div>
    </div>
{% endblock %}