{% extends "base.html" %}
{% load static %}

{% block title %}BookClub{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'book/css/landing.css' %}?20200418"/>

{% endblock %}

{% block content %}
<div class="page page-one" id="page1">


    <div class="content-page1">
        <span class="head-text">Readers come <br /><span class="together">together</span></span>
        <a href="{% url 'account:register' %}" class="register account-btn">Register</a>
        <a href="{% url 'account:login' %}" class="login account-btn">Login</a>
        <a href="{% url 'account:dashboard' %}" class="dashboard account-btn">Visit</a>
    </div>

    <img src="{% static 'landing/images/read_together.png' %}" width="750" class="img-page-1">
    <a href='https://www.freepik.com/free-photos-vectors/book' class="img-link link-1" target="_blank">
        Book vector created by pikisuperstar - www.freepik.com</a>

    <a href="#page2" class="hvr-hang hang-1">
        <i class="fas fa-angle-double-down"></i>
    </a>
</div>

<div class="page page-two" id="page2">

    <span class="head-text">Read <span class="together">together</span></span>
    <span class="under-text">Have you ever stopped a book halfway through because you lost motivation? This doesn't
        have to happen. Join or create a book club! Share you progress with other people and motivate each other
        to finish that book that you've always wanted to get through.</span>
    <img src="{% static 'landing/images/anti_gravity.png' %}" width="750" class="img-page-2">
    <a href='https://www.freepik.com/free-photos-vectors/background' class="img-link link-2" target="_blank">
        Background vector created by freepik - www.freepik.com</a>
    <a href="#page3" class="hvr-hang hang-2">
        <i class="fas fa-angle-double-down"></i>
    </a>
</div>

<div class="page page-three" id="page3">
    <span class="head-text">Discuss <span class="together">together</span></span>
    <span class="under-text">Share your thoughts and feelings about a book with other people who understand what you
        are talking about. Whether you want a book recommendation, talk about a book you've read or just share
        your thoughts, this can all be done here. Just create or join a club and get going!</span>
    <img src="{% static 'landing/images/talk_together.png' %}" width="750" class="img-page-3">
    <a href="http://www.freepik.com" class="img-link link-3" target="_blank">Designed by rawpixel.com / Freepik</a>
     <a href="#page4" class="hvr-hang hang-3">
        <i class="fas fa-angle-double-down"></i>
    </a>
</div>

<div class="page page-four" id="page4">
    <span class="head-text">Learn <span class="together">together</span></span>
    <span class="under-text">How do you make, what you've just read stick? By talking about it with other people!
        And this is the perfect place to do exactly that. So if you want to keep the most important points of the
        book you've just read, talk about it with other people!
        For that just join or create a discussion club and you're ready to go!
</span>
    <img src="{% static 'landing/images/learn_together.png' %}" width="750" class="img-page-4">
    <a href="http://www.freepik.com" class="img-link link-4" target="_blank">Designed by rawpixel.com / Freepik</a>
     <a href="#page1" class="hvr-hang up">
        <i class="fas fa-angle-double-up"></i>
    </a>
</div>

{% endblock %}

