{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/about.css' %}?20200202">
{% endblock %}

{% block content %}
<div class="about-me">
    <h1>About me</h1>
    <p>Hello! I'm Florian Hoppe and I am the creator of this little website you're currently on.
    I developed this site in my spare time, while simultaneously graduating from school.
    I started coding around 4 years ago and haven't stopped since. About 2 years ago I
    started with Python, the language in which this site is written.
    I really enjoyed creating the goodbookclubs, because it allowed me to apply what I already knew,
    and learn a bunch of cool new stuff. If you want to learn more about me,
    check out my <a href="http://florianhoppe.pythonanywhere.com/" target="_blank">other website:</a>
    </p>
</div>

<div class="about-site">
    <h1>About this site</h1>
    <p>This website is for everyone who likes books. You can share your progress on a book,
        discuss certain books, or talk about a whole genre! You can add new books and create new clubs.
        This site is a work in progress and I'm planning on adding new features over time.
        If you want a feature, or find a bug that's annoying you, feel free to let me know,
        I'd love to get your feedback. You can contact me under <span class="red">hoppe.florian2002@gmail.com</span>.</p>
</div>

<div class="about-data">
    <h1 class="red">About your data</h1>
    <p>If you've read the previous sections on this page, you have probably figured out by now,
        that this is a one man project, created by an 18-year-old in the attic of his parents
        . And I don't have any interest, or any use for your data. The only thing this website knows about you,
        is your username, the clubs your're in, and the books you've read. I will not do anything with that data.
        I wont sell it or give it to anyone! I am doing my best to protect the little data I have about you,
        but because I'm not a professional, please don't enter any sensitive data on this site because I can't
        guarantee to 100% that I will be able to protect it from any attacks.</p>
</div>

<div class="about-vector-art">
    <h1 class="red">About the vector art</h1>
    <p>The beautiful images you saw on the landing page and the logo of this website where not created by me,
        I only changed the color on some of them. The folks at freepik.com & flaticon.com are kind enough to let me use these images
        for free. Below I want to credit the creators of these works of art.</p>
    <ul class="vector-art">
        <li>Landing page 1: <a href='https://www.freepik.com/free-photos-vectors/book' target="_blank">Book vector created by pikisuperstar - www.freepik.com</a></li>
        <li>Landing page 2: <a href='https://www.freepik.com/free-photos-vectors/background' target="_blank">Background vector created by freepik - www.freepik.com</a></li>
        <li>Landing page 3: <a href="http://www.freepik.com" target="_blank">Designed by rawpixel.com / Freepik</a>
        <li>Landing page 4: <a href="http://www.freepik.com" target="_blank">Designed by rawpixel.com / Freepik</a></li>
        <li>Logo:<a href='https://www.freepik.com/free-photos-vectors/background' target="_blank">Created by by gstudioimagen - www.freepik.com</a></li>
        <li>Discussion club icon: <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> </li>
        <li>Reading club icon: <a href="https://smashicons.com/" title="Smashicons" target="_blank">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a></li>
    </ul>
</div>

<div class="about-privacy" id="privacy">
    <h1 class="red">Privacy Policy</h1><li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the webste, and for marketing and promotional purposes</li>

<p>At GoodBookClubs, accessible from https://goodbookclubs.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by GoodBookClubs and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in GoodBookClubs. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
<li>Provide, operate, and maintain this website</li>
<li>Improve, personalize, and expand this website</li>
<li>If all goes well, brag to my friends how popular my website is</li>
<li>Understand and analyze how you use this website</li>
<li>Develop new products, services, features, and functionality</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>

<h2>Log Files</h2>

<p>GoodBookClubs follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicygenerator.info">Privacy Policy Generator</a> and the <a href="https://www.privacypolicyonline.com/privacy-policy-generator/">Online Privacy Policy Generator</a>.</p>

<h2>Cookies and Web Beacons</h2>

<p>Like any other website, GoodBookClubs uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

<p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p>



<h2>Advertising Partners Privacy Policies</h2>

<P>You may consult this list to find the Privacy Policy for each of the advertising partners of GoodBookClubs.</p>

<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on GoodBookClubs, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that GoodBookClubs has no access to or control over these cookies that are used by third-party advertisers.</p>

<h2>Third Party Privacy Policies</h2>

<p>GoodBookClubs's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>Children's Information</h2>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p>GoodBookClubs does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
</div>



{% endblock %}

