{% extends "base.html" %}    <link rel="import" href="localhost:8000/club/templates/club/list_view.html">


{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <p id="welcome">Welcome to your dashboard</p>


    <iframe src="{% url 'book:list_view' %}" style="border: none;" width="1920" height="600" id="book-list-frame" name="book-list-frame"></iframe>
    <iframe src="{% url 'club:list_view' %}" style="border: none;" width="1920" height="600" id="club-list-frame" name="club-list-frame"></iframe>

{% endblock %}