{% extends "base.html" %}
{% load static %}
{% block title %}Edit your account{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/edit.css' %}?20200204"/>
{% endblock %}

{% block content %}
    <h1>Edit your account</h1>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
        <p class="remove saved">Change saved</p>
        {% if values_saved %}
        <p>Saved values</p>
        {% endif %}
    </form>
{% endblock %}
