{% extends "base.html" %}
{% load static %}
{% block title %}Create group{% endblock %}

{% block head %}
{{ group_form.media }}
{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'account/css/edit.css' %}?20200418"/> -->
<link rel="stylesheet" type="text/css" href="{% static 'club/css/create_club.css' %}?20200418"/>

{% endblock %}

{% block content %}
    {% if new_group %}

    {% else %}
    <form method="post" name="club-form" id="club-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ group_form.as_p }}
        <label for="group_type">Group Type: </label>
        <select id="group_type" name="group_type">
            <option value="reading_club">Reading Club</option>
            <option value="discussion_club">Discussion Club</option>
        </select>
        <br />

        <label for="search">Current Book: </label>
        <input type="text" placeholder="Book title" id="search" />
        <button type="button" id="button">
            <i class="fas fa-search"></i>
        </button>
        <br />

        <div id="results"></div>
        <table id="results-table" class="invisible">
        <thead>
            <tr>
                <th scope="col">Book name</th>
                <th scope="col">Book author</th>
            </tr>
        </thead>
        <tbody class="table body">

        </tbody>
        </table>

        <button type="submit" id="submit">Submit</button>
    </form>
    {% endif %}
 <script>
   
 </script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{% static 'book/book_search.js' %}"></script>
{% endblock %}


{% block domready %}
function validateForm() {
    var name = document.forms['club-form']['group_name'].value;
    var description = document.forms['club-form']['group_description'].value;
    var current_book_json = items.data[chosenBookIndex];
    var type = document.forms['club-form']['group_type'].value;
    if(name == "") {
        alert("Please enter a name");
        return false;
    }
    if (description == "") {
        alert("Please enter a description");
        return false;
    }
    if (current_book_json == "" && type == "reading_club"){
        alert("Please select a book");
        return false;
    }
}
{% endblock %}