{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ club.group_name }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'club/css/discussion_club_detail.css' %}?20201303"/>
{% endblock %}

{% block content %}
    <!-- Block the form request from being send again, when page is reloaded !-->
     <script>
            if (window.history.replaceState) {
                window.history.replaceState( null, null, window.location.href );
                }
        </script>

<!-- heading -->
    <p class="top-title">{{ club.group_name }}{% if club.is_admin %}
        <span class="admin-edit"><a href="{% url 'club:edit_discussion' id=club.id %}">Edit</a></span>
        {% endif %}</p>

<!-- image -->
    {% load thumbnail %}
    {% thumbnail club.group_image "300" as im %}
        <img src="{{ im.url }}" class="club-image"/>
    {% endthumbnail %}

<!-- show all the members -->
    <span class="all-member">
        <p class="members-header">Members</p>
        <ul class="members">
            {% for member in all_members %}
            <li class="member">
                <span>{{ member }}</span>
            </li>
            {% endfor %}
        </ul>
    </span>


<!--text next to image -->
    <ul class="club-details">
        <li class="club description">{{ club.group_description }}</li>
        {% if club.current_book %}
            <li class="club current-book">Current book:
            <a href="{{ club.current_book.get_absolute_url }}">{{ club.current_book }}</a>
            by {{ club.current_book.book_author }}</li>
        {% else %}
            <li class="club no-current-book">No current book</li>
        {% endif %}
    </ul>


<!-- join group -->

    <div class="member-count">
        <span class="count-members">{{ club.member_count }}</span> Member{{ club.member_count|pluralize }}
        <a href="#" data-id="{{ club.id }}" data-group_type="discussion" data-action="{% if club.is_member %}leave{% else %}join{% endif %}"
            class="join-toggle button">{% if club.is_member %}Leave{% else %}Join{% endif %}</a>
    </div>


<!-- Comments -->
    <div class="card-body">
        {% if  new_comment %}
        <h4>Comments ({{ comments.count }}):</h4>
        {% else %}
            <h4>Comments ({{ comments.count }}):</h4>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                <button class="btn btn-cancel">Cancel</button>
            </form>
        {% endif %}
        </div>
    <div class="comments" id="comments" style="padding: 10px;">
    {% for comment in comments %}
                <div class="comment">
                    {% thumbnail  comment.profile.profile_picture "50x50" crop="center" as img %}
                    <img src="{{ img.url }}" class="comment-profile-img" />
                    {% endthumbnail %}

                    <p class="comment-user-name">{{ comment.name }}</p>
                    <span class="comment-created-on">{{ comment.difference }} day{{ comment.difference | pluralize }} ago</span>
                    <p class="comment-body">{{ comment.body }}</p>
                </div>
           {% endfor %}

        </div>

<!-- Load needed JavaScript variable-->
<script>var toggle_view_url = "{% url 'club:toggle' %}"</script>
<script>var like_toggle_url = "{% url 'book:like' %}"</script>

{% endblock %}

{%  block javascript %}
<script>
    // auto expand comment input field
    $("#id_body").on("keydown", function(e) {
        var that = $(this);
        if(that.scrollTop()) {
            $(this).height(function(i, h) {
                return h + 20;
            })
        }
    })
</script>
<script src="{% static 'club/toggle_member.js' %}"></script>
{% endblock %}
