{% extends "base.html" %}
{% load static %}

{% block title %}{{ club.group_name }}{% endblock %}

{% block content %}
    <!-- Block the form request from being send again, when page is reloaded !-->
     <script>
            if (window.history.replaceState) {
                window.history.replaceState( null, null, window.location.href );
                }
        </script>


    <p>{{ club.group_name }}</p>
    {% load thumbnail %}
    {% thumbnail club.current_book.book_cover_image "300" as im %}

    <a href="{{ club.current_book.get_absolute_url }}" alt="current_book_cover">
        <img src="{{ im.url }}" class="image-detail">
    </a>
    <br />
    {% endthumbnail %}
    {{ club.is_admin }}
     {% if club.is_admin %}
        <!-- Option to change the group settings -->
        <p><a href="{% url 'club:edit_discussion' id=club.id %}">Edit</a> group with id {{ club.id }}</p>

        {% endif %}

    <div class="likes">
        <span class="count">
            <span class="total likes">{{ like_balance }}</span>
            like{{ like_balance|pluralize }}
        </span>
        <a href="#" data-id="{{ book.id }}" data-action="{% if user_liked_book %}un{% endif %}like"
           class="like toggle button" data-group_type="discussion">
            {% if not user_liked_book %}
                Like
            {% else %}
                Unlike
            {% endif %}
        </a>
        <br />
    </div>
    <div class="member-count">
        <span class="count-members">{{ club.member_count }}</span> Member{{ club.member_count|pluralize }}
        <a href="#" data-id="{{ club.id }}" data-group_type="discussion" data-action="{% if club.is_member %}leave{% else %}join{% endif %}"
            class="join-toggle button">{% if club.is_member %}Leave{% else %}Join{% endif %}</a>
    </div>



    <div class="card-body">
        {% if  new_comment %}

        {% else %}
            <h4>Add comment</h4>
            <form method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn">Submit</button>
            </form>
        {% endif %}
        </div>


    <h4>Comments:</h4>
    {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
            <p>{{ comment.name }}</p>
            <p>{{ comment.created_on }}</p>
            <p>{{ comment.body }}</p>

        </div>
    {% endfor %}

<!-- Load needed JavaScript variable-->
<script>var toggle_view_url = "{% url 'club:toggle' %}"</script>
<script>var like_toggle_url = "{% url 'book:like' %}"</script>

{% endblock %}

{%  block javascript %}
<script src="{% static 'club/toggle_member.js' %}"></script>
<script src="{% static 'book/toggle_like.js' %}"></script>
{% endblock %}
