{% extends "base.html" %}
{% load static %}
{% block title %}Edit Club{% endblock %}

{% block content %}
<h3>Edit your Club: {{ club_id }}</h3>
    {% if new_group %}

    {% else %}
    <form method="post" name="club-form" onsubmit="return validateForm()" id="club-form">
        {% csrf_token %}
        {{ form.as_p }}

        <p>Current book: {{ current_book }}</p>
        <label for="search">New Book: </label>
        <input type="text" placeholder="Book" id="search" />
        <button type="button" id="button">Search</button>
        <br />

        <div id="results"></div>
        <table id="results-table" class="invisible">
        <thead>
            <tr>
                <th scope="col">Book name</th>
                <th scope="col">Book author</th>
            </tr>
        </thead>
        <tbody class="table body">

        </tbody>
        </table>

        <button type="button" id="submit-change">Submit</button>
        <button type="button" id="delete" data-id="{{ club_id }}">Delete club</button>
    </form>
    {% endif %}
 <script>
 </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{% static 'club/change_club.js' %}"></script>
<script src="{% static 'club/delete_club.js' %}"></script>
{% endblock %}


{% block domready %}




{% endblock %}