{% extends "base_slim.html" %}
{% block title %}All clubs{% endblock %}
{% block content %}

<ul class="all-clubs">
    {% for club in all_clubs %}
    <div class="club">
        <li {% if club.is_reading_club %}class="reading club" {% else %}class="discussion club"{% endif %}>
            {{ club.group_name }} {% if club.current_book %}| {{ club.current_book }}{% endif %} | Members: <span class="count">{{ club.group_members.count }}</span>
            {% if club.is_reading_club %} | Reading Group {% else %}| Discussion Group{% endif %}
            <a href="{{ club.get_absolute_url }}" class="view button">View</a>

            <a href="#" data-id="{{ club.id }}" data-action="{% if club.member %}leave{% else %}join{% endif %}"
               data-group_type="{% if club.is_reading_club %}reading{% else %}discussion{% endif %}"
               class="{% if club.member %}leave{% else %}join{% endif %} button toggle">
                {% if club.member %}
                    Leave
                {% else %}
                    Join
                {% endif %}
            </a>
        </li>
    </div>
    {% endfor %}
</ul>
{% endblock %}

{% block domready %}
    $('div.club').click(function(e){
        e.preventDefault();
        var target = e.target;
        console.log(target);

        var member_counter = target.parentNode.firstElementChild;

        $.post('{% url "club:toggle" %}',
        {
            id: $(target).data('id'),
            action: $(target).data('action'),
            group_type: $(target).data('group_type')
        },
        function(data){
        if (data['status'] == 'ok') {
            var previous_action = $(target).data('action');

            // toggle data-action
            $(target).data('action', previous_action == 'join' ? 'leave' : 'join');

            // toggle link text
            $(target).text(previous_action == 'join' ? 'Leave' : 'Join');

            // update total members
            var previous_members = parseInt($(member_counter).text());
            $(member_counter).text(previous_action == 'join' ? previous_members + 1: previous_members -1);
            }
        });
    });
{% endblock %}