{% extends "base.html" %}
{% load static %}
{% load js %}
{% load crispy_forms_tags %}
<!-- Beta java script code !-->
{% block title %}{{ club.group_name }}{% endblock %}
{% block css %}
<style>
    .hide {
        visibility:hidden;
    }
    .remove {
        visibility: hidden;
        display: none;

    }

    #progress {
        background: #333;
        border-radius: 13px;
        height: 25px;
        width: 80%;
        padding: 3px;
    }

    #progress:after {
        content: '';
        display: block;
        background: orange;
        width: calc(({{ club.current_book_current_page}} / {{ club.current_book_page_count }}) * 100%);
        height: 100%;
        border-radius: 9px;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'club/css/reading_club_detail.css'  %}?20201303"/>
{% endblock %}

{% block content %}

        <script>
            if (window.history.replaceState) {
                window.history.replaceState( null, null, window.location.href );
                }
        </script>

        <p class="top-title">{{ club.group_name }}  {% if club.is_admin %}
        <span class="admin-edit"><a class="edit-link" href="{% url 'club:edit_reading' id=club.id %}">(<span class="underline">Edit</span>)</a></span></p>
        {% endif %}
        </p>
        <div class="member-count">
                    <span class="count-members">{{ club.member_count }}</span> Member{{ club.member_count|pluralize }}
                    <a href="#" data-id="{{ club.id }}" data-group_type="reading" data-action="{% if club.is_member %}leave{% else %}join{% endif %}"
                        class="join-toggle button">{% if club.is_member %}Leave{% else %}Join{% endif %}</a>
         </div>
        <!-- Option to change the group settings -->


        {% if club.is_admin %}

            <div class="slidecontainer">
                <input type="range" min="1" max="{{ club.current_book.book_page_number }}"
                       value="{{ club.current_book_current_page }}"
                       class="slider selectable"
                       id="bookProgress">
            </div>

        {% else %}
            <div id="progress"></div>


        {% endif %}
        <div class="slidervalue">
            Club reading goal, page
            <span id="current-page">0</span>

        </div>

        {% load thumbnail %}
        {% thumbnail club.current_book.book_cover_image  "300" as im %}
            <a href="{{ club.current_book.get_absolute_url }}">
                <img src="{{ im.url }}" class="image-detail">
            </a>
        {% endthumbnail %}

        <!-- book infos -->
        <ul class="book-info">
            <li class="book title">{{ club.current_book.book_name}}</li>
            <li class="book author">{{ club.current_book.book_author }}</li>
            <li class="book description">{{ club.current_book.book_description }}</li>

        </ul>

        <span class="all-status">
            <p class="status-header">Reading goal status</p>
            <div class="self-status">
                <span class="user-status-icon" id="status-icon-span">
                {% if user in club.current_goal_achieved.all %}
                    <i class="fa fa-check achieve-toggle reach-icon self-achieve-button-cross " data-action="reached" aria-hidden="true" ></i>

                {% else %}
                    <i class="fa fa-times-circle achieve-toggle reach-icon self-achieve-button-circle" data-action="unreached" aria-hidden="true"></i>
                {% endif %}
                </span>
                <span class="user-name" data-action="unreached" id="self-status-name-2">{{ user }}</span>

            </div>


            <span class="class-member-status">
                <ul class="members">
                    {% for member in peers %}
                        <li class="member">
                            <div class="achieved-toggle">
                            {% if member in club.current_goal_achieved.all %}
                                <i class="fa fa-check achieve-toggle reached reach-icon" ></i>
                            {% else %}
                                <i class="fa fa-times-circle achieve-toggle unreached reach-icon"></i>
                            {% endif %}

                            <span class="user-name">{{ member }}</span>

                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </span>
        
        </span>

        {% if club.is_admin %}
        <div class="book-settings"></div>

        {% endif %}

        <div class="like-icon">
            <span class="count">
                    <span class="total">{{ like_balance }}</span>

                    <span class="can-not-like{% if can_like %} remove{% else %}{% endif %}">
                       <i class="far fa-heart"></i>
                    </span>
            </span>

                <a href="#" data-id="{{ book.id }}" data-action="{% if user_liked_book %}un{% endif %}like"
                class="like button{% if can_like %}{% else %} remove{%endif%}" id="like-link">
                    <span class="like-icon">
                    {% if not user_liked_book %}
                        <i class="far fa-heart"></i>
                    {% else %}
                        <i class="fas fa-heart"></i>
                    {% endif %}
                     </span>
                </a>
        </div>

        <div class="select-status">
            <select id="book-status" class="book-status">
                <option value="reading" class="status">Currently reading</option>
                <option value="read" class="status">Read</option>
                <option value="want-to-read" class="status">Want to read</option>
                <option value="blank" selected="selected"></option>
            </select>
        </div>



        </div>

        <div class="card-body">
            {% if  new_comment %}

            {% else %}
                <h4>Comments ({{ comments.count }}):</h4>

                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    <button class="btn btn-cancel">Cancel</button>
                </form>
            {% endif %}
            </div>

        <!-- Comments-->
        <div class="comments" id="comments" style="padding: 10px;">

        {% for comment in comments %}
                <div class="comment">
                    {% thumbnail  comment.profile.profile_picture "50x50" crop="center" as img %}
                    <img src="{{ img.url }}" class="comment-profile-img" />
                    {% endthumbnail %}

                    <p class="comment-user-name">{{ comment.name }}</p>
                    <span class="comment-created-on">{{ comment.difference }} day{{ comment.difference | pluralize }} ago</span>
                    <p class="comment-body">{{ comment.body }}</p>
                </div>
           {% endfor %}

        </div>

<script>var toggle_view_url = "{% url 'club:toggle' %}"</script>
<script>var like_toggle_url = "{% url 'book:like' %}"</script>

{% endblock %}



{%  block javascript %}
<script src="{% static 'club/toggle_member.js' %}"></script>
<script src="{% static 'book/toggle_like.js' %}"></script>
<script src="{% static 'club/toggle_achieved.js' %}"></script>

<script>

var slider = document.getElementById("bookProgress");
var output = document.getElementById("current-page");
output.innerText = "{{ club.current_book_current_page }}";

// update the current slider value
slider.oninput = function() {
    output.innerHTML = this.value;
}
if($('input.selectable').length > 0) {
    // slider is selectable
    slider.value = {{ club.current_book_current_page }}
    $(slider).change(function(e) {

        var allData = {'club_id': {{ club.id }},
                        'page_count': this.value
                        }

        $.ajax({
        type: "POST",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        url: "update-page/",
        data: JSON.stringify(allData),
        success: function(data) {
            if(data['status'] == 'ok'){
                if(data['higher_goal'] == true) {

                    console.log("Reaching for higher goal")

                    $('.reach-icon').each(function() {
                        $(this).replaceWith('<i class="fa fa-times-circle achieve-toggle reach-icon" data-action="reached" aria-hidden="true" ></i>');
                    });
                    }
                console.log("Updated current page");
                }
            else {
                console.log("Something went wrong changing the current page");
                }

        }
        });
        console.log("Slider changed value");
    });
}
</script>

{% endblock %}

{% block domready %}

    // first, set the drop down value based on the users library
    (function (){
            bookStatus = {{ book.status | js }};
            if(bookStatus == "\"read\""){
                $("#book-status").val("read");
            }
            else if(bookStatus == "\"reading\""){
                $("#book-status").val("reading");
            }
            else if(bookStatus == "\"want-to-read\""){
                $("#book-status").val("want-to-read");
            }
            else {
                $("#book-status").val("blank");
            }

    }())


    // when user clicks cancel on comment, prevent default and empty the textfield
    $('.btn-cancel').click(function(e) {
        e.preventDefault();
        document.getElementById("id_body").value = "";
    });

    // when user changes value in drop down list, change the value in the database
    function sendValuesToServer(e) {
        target = e.target;

            value = target.value;
            id = $(target).parent().prev().find("a").data("id")

            $.post('{% url "book:change_status" %}',
            {
                    id : id,
                    value: value
            },
            function(data){
                if (data['status'] == 'OK')
                    {
                    console.log("Changed state of select element from html page");
                    if(data['can_like'] == "True") {
                        $('span.can-not-like').addClass("remove");
                        $('#like-link').removeClass("remove");
                    }
                    else {
                        $('span.can-not-like').removeClass("remove");
                        $('#like-link').addClass("remove");
                        }
                }
            }
        );
    }

    // register like button, so that it changes the like amount and the text
    $('a.like').click(function(e){
    console.log("Like got clicked");
    e.preventDefault();
    $.post('{% url "book:like" %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
        function(data){
        if (data['status'] == 'ok')
            {
                var bookId = data['id'];
                var prevAction = data['prev_action']
                var $clickedElement = $("[data-id=" + bookId + "]");

                // toggle action
                $clickedElement.data('action', prevAction == 'like' ?
                                    'unlike': 'like');
                // toggle link text
                if(prevAction == 'like') {

                    $("span.like-icon").replaceWith('<span class="like-icon"><i class="fas fa-heart"></i></span>')
                }
                else {
                    $("span.like-icon").replaceWith('<span class="like-icon"><i class="far fa-heart"></i></span>')
                // update total likes
                }
        
                var prevLikes = parseInt($('span.total').text());
                $('span.total').text(prevAction == 'like' ?
                prevLikes + 1 : prevLikes - 1);
            }
        }
        );
    });

    // register the join club button, so the user can join/leave the club
    $('a.join-toggle').click(function(e) {
        e.preventDefault();
        console.log("I got called, to update member count");
        // TODO: send ajax, add the user to the database, return success message and update the member count
        // TODO: add icon instead if text 'join' 'leave'

    });

    // auto expand comment input field
    $("#id_body").on("keydown", function(e) {
        var that = $(this);
        if(that.scrollTop()) {
            $(this).height(function(i, h) {
                return h + 20;
            })
        }
    })


    // when user clicks on his achieved icon, change the state and update the value in the database
    function toggleAchieved(e) {
    e.preventDefault();
    userId = {{ user.id }};
    action = $(this).find("i.achieve-toggle").data("action");
    clubId = {{ club.id }};

    $.post('{% url "club:toggle_achieve" %}',
        {
            'userId': userId,
            'action': action,
            'clubId': clubId

        },
        function(data) {
            if (data.action == "reached") {
                $('#status-icon-span').find("i.achieve-toggle").replaceWith('<i class="fa fa-times-circle achieve-toggle self-achieve-button-circle reach-icon" data-action="unreached" aria-hidden="true" id="self-status-icon-2"></i>');
                }
            else {
                $('#status-icon-span').find("i.achieve-toggle").replaceWith('<i class="fa fa-check achieve-toggle self-achieve-button-cross reach-icon" data-action="reached" aria-hidden="true" id="self-status-icon"></i>');

            }
            }
        );
    }

    document.getElementById("book-status").addEventListener("change", sendValuesToServer, false);
    document.getElementById("status-icon-span").addEventListener("click", toggleAchieved, false);




{% endblock %}

