{% extends "base.html" %}
{% load static %}
{% load js %}
{% block title %}{{ book.book_name }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'book/css/detail.css' %}?20200306" />
{% endblock %}

{% block content %}

     {% load thumbnail %}
    {% thumbnail book.book_cover_image "200" as im %}
    <img src="{{ im.url }}" class="image-detail">
    {% endthumbnail %}
    <div>
        <span class="book top-title">{{ book.book_name }}</span>
        <span class="book author">{{ book.book_author }}</span>
    </div>
    <span class="book description">{{ book.book_description }}</span>
    <br />

    <div class="like-icon">
            <span class="count">
                    <span class="total">{{ like_balance }}</span>
                    <span class="can-not-like{% if can_like %} remove{% else %}{% endif %}">
                       <i class="far fa-heart"></i>
                    </span>
            </span>

                <a href="#" data-id="{{ book.id }}" data-action="{% if liked_book %}un{% endif %}like"
                class="like button{% if can_like %}{% else %} remove{%endif%}" id="like-link">
                    <span class="like-icon">
                    {% if not liked_book %}
                        <i class="far fa-heart"></i>
                    {% else %}
                        <i class="fas fa-heart"></i>
                    {% endif %}
                     </span>
                </a>
        </div>

        <div class="select-status">
            <select id="book-status" class="book-status">
                <option value="reading" class="status">Currently reading</option>
                <option value="read" class="status">Read</option>
                <option value="want-to-read" class="status">Want to read</option>
                <option value="blank" selected="selected"></option>
            </select>
        </div>
    
    <div class="details">
    <ul class="inner-ul">
            <li class="language-code">Language: {{ book.book_language }}</li>
            <li class="pages">Pages: {{ book.book_page_number }}</li>
            <li class="categories">Categories: {{ book.book_categories }}</li>
            <li class="isbn">ISBN: {{ book.book_isbn_number }}</li>

        </ul>
    </div>    

    <p class="club-line">Clubs</p>

    <hr>

    <div class="clubs">
        <div class="reading-clubs">
        <h4>Reading clubs <a href="{% url 'club:create_group' %}" class="create-club">Create club</a></h4>
        {%  for r_club in book.reading_clubs %}
            <p><a href="{{ r_club.get_absolute_url }}" class="club-link">{{ r_club }}</a></p>
        {% empty %}
        <p>No one reads this book</p>
        {% endfor %}
        </div>


        <div class="discussion-clubs">
        <h4>Discussion Clubs <a href="{% url 'club:create_group' %}" class="create-club">Create club</a></h4>
        {% for d_club in book.discussion_clubs %}
            <a href="{{ d_club.get_absolute_url }}" class="club-link">{{ d_club.group_name }}</a>
        {% empty %}
            <p>No one discusses this book</p>
        {% endfor %}
        </div>
    </div>

<script>var like_toggle_url = "{% url 'book:like' %}"</script>
{% endblock %}

{% block javascript %}
<script src="{% static 'book/toggle_like.js' %}"></script>
{% endblock  %}

{% block domready %}

    // first, set the drop down value based on the users library
    (function (){
            bookStatus = {{ book.status | js }};
            if(bookStatus == "\"read\""){
                $("#book-status").val("read");
            }
            else if(bookStatus == "\"reading\""){
                $("#book-status").val("reading");
            }
            else if(bookStatus == "\"want-to-read\""){
                $("#book-status").val("want-to-read");
            }
            else {
                $("#book-status").val("blank");
            }

    }())


    // when user clicks cancel on comment, prevent default and empty the textfield
    $('.btn-cancel').click(function(e) {
        e.preventDefault();
        document.getElementById("id_body").value = "";
    });

    // when user changes value in drop down list, change the value in the database
    function sendValuesToServer(e) {
        target = e.target;

            value = target.value;
            id = $(target).parent().prev().find("a").data("id")

            $.post('{% url "book:change_status" %}',
            {
                    id : id,
                    value: value
            },
            function(data){
                if (data['status'] == 'OK')
                    {
                    if(data['can_like'] == "True") {
                        $('span.can-not-like').addClass("remove");
                        $('#like-link').removeClass("remove");
                    }
                    else {
                        $('span.can-not-like').removeClass("remove");
                        $('#like-link').addClass("remove");
                        }
                }
                else if(data['status'] == "GUEST")
                    debugger;
                    {
                    if(data['can_like'] == "True") {
                        $('span.can-not-like').addClass("remove");
                        $('#like-link').removeClass("remove");
                    }
                    else {
                        $('span.can-not-like').removeClass("remove");
                        $('#like-link').addClass("remove");
                        }
                    }
            }
        );
    }

    // register like button, so that it changes the like amount and the text
    $('a.like').click(function(e){
    console.log("Like got clicked");
    e.preventDefault();
    $.post('{% url "book:like" %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
        function(data){
        debugger;
        if (data['status'] == 'GUEST')
            {
            console.log("GUEST tried to like book");
            }
        if (data['status'] == 'ok')
            {
                var bookId = data['id'];
                var prevAction = data['prev_action']
                var $clickedElement = $("[data-id=" + bookId + "]");

                // toggle action
                $clickedElement.data('action', prevAction == 'like' ?
                                    'unlike': 'like');
                // toggle link text
                if(prevAction == 'like') {

                    $("span.like-icon").replaceWith('<span class="like-icon"><i class="fas fa-heart"></i></span>')
                }
                else {
                    $("span.like-icon").replaceWith('<span class="like-icon"><i class="far fa-heart"></i></span>')
                // update total likes
                }

                var prevLikes = parseInt($('span.total').text());
                $('span.total').text(prevAction == 'like' ?
                prevLikes + 1 : prevLikes - 1);
            }
        }
        );
    });

    document.getElementById("book-status").addEventListener("change", sendValuesToServer, false);

{% endblock %}