{% extends "base_slim.html" %}
{% load js %}
{% load thumbnail %}
{% load static %}
{% block title %}All books{% endblock %}
{% block css %}
<style>
    .hide {
        visibility:hidden;
    }
    .remove {
        visibility: hidden;
        display: none;

    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'book/css/list_view.css' %}"/>
{% endblock %}
{% block content %}

<label for="search">New Book: </label>
        <input type="text" placeholder="Book" id="search" value="Das Lied von Eis und Feuer 0" />
        <button type="button" id="button">Search</button>
        <br />

        <div id="results"></div>
        <table id="results-table" class="hide">
        <thead>
            <tr>
                <th scope="col">Book name</th>
                <th scope="col">Book author</th>
            </tr>
        </thead>
        <tbody class="table body">

        </tbody>
        </table>

<ul class="all-books" id="book-list">
    {% for book in books %}
    <div class="container" id="container">
        <div class="book {{ book.book_name | class_like }}">
            <li id="options" class="item" data-index="{{ book.index }}" data-id="{{ book.id }}">
            {% thumbnail book.book_cover_image "125x125" as im %}
                <img src="{{ im.url }}" class="book-cover">
                {% endthumbnail %}
                
            <ul class="inner-ul">
            <li class="inner-li">
            <a href="{{ book.get_absolute_url }}" class="book-title">{{ book.book_name }}</a> 
            </li>


            <li class="inner-li">
            <span class="author">{{ book.book_author }}</span>
            </li>

            <li class="inner-li">
                <span class="count">
                    <span class="total">{{ book.like_balance }}</span>
                
                    <span class="can-not-like{% if book.can_like %} remove{% else %}{% endif %}"><i class="far fa-heart"></i></span>


                <a href="#" data-id="{{ book.id }}" data-action="{% if book.user_liked_book %}un{% endif %}like"
                class="like button{% if book.can_like %}{% else %} remove{%endif%}">
                    <span class="like-icon">
                    {% if not book.user_liked_book %}
                        <i class="far fa-heart"></i>
                    {% else %}
                        <i class="fas fa-heart"></i>
                    {% endif %}
                     </span>
                </a>
            </li>

            <li class="inner-li">    
                <select id="book-status" class="book-status">
                <option value="reading" class="status">Currently reading</option>
                <option value="read" class="status">Read</option>
                <option value="want-to-read" class="status">Want to read</option>
                <option value="blank" selected="selected"></option>
                </select>
            </li>
            </ul>    
            </li>
        </div>
    </div>
    {% endfor %}
</ul>
<!-- load variables for the external JavaScript file -->
<script>
    var book_change_status_url = '{% url "book:change_status" %}';
    var book_like_url = '{% url "book:like" %}';
</script>
{% endblock  %}


{% block domready %}

    var changedStatusBooks;
    var books = {{  book_data | js }};
    // first, set the drop down value based on the users library
    (function (){

        changedStatusBooks = {};
        var counter = {{ books.count }}
        for(i=0; i < counter; i++) {
            var currentBook = books[i];

            // use the same tactic as in the template tag, to get the correct class name of the elements
            var bookName = ((((((currentBook.name.split(" ").join("-")).split('"').join(""))
                                              .split("?").join("")).split("!").join(""))
                                              .split("(").join("")).split(")").join(""))
                                              .split(",").join("");

            if(currentBook.status == "read"){
                console.log("Read: " + bookName);
                $("." + bookName).find("#book-status").val("read");
            }
            else if(currentBook.status == "reading"){
                console.log("Reading: " + bookName);
                $("." + bookName).find("#book-status").val("reading");
            }
            else if(currentBook.status == "want-to-read"){
                console.log("Want to read: " + bookName);
                $("." + bookName).find("#book-status").val("want-to-read");
            }
            else {
                $("." + bookName).find("#book-status").val("blank");
            }

        }   // end for loop
    }())


    function sendValuesToServer(e) {
        target = e.target;
        debugger;
        if($(target).hasClass("book-status")){
            value = target.value;
            id = $(target).parent().prev().find("a").data("id")

            $.post('{% url "book:change_status" %}',
            {
                    id : id,
                    value: value
            },
            function(data){
            if (data['status'] == 'OK')
                {
                console.log("Changed state of select element from html page");
                if(data['can_like'] == "True") {
                    var bookId = data['id'];
                    $('li').find("[data-id='" + bookId + "']").prev().addClass("remove")
                    $('li').find("[data-id='" + bookId + "']").removeClass("remove")
                }
                else {
                    var bookId = data['id'];
                    $('li').find("[data-id='" + bookId + "']").prev().removeClass("remove")
                    $('li').find("[data-id='" + bookId + "']").addClass("remove")
                }
                }
            }
        );
        }
    }

    // register like button, so that it changes the like amount and the text
    $('a.like').click(function(e){
    console.log("Like got clicked");
    e.preventDefault();
    $.post('{% url "book:like" %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
        function(data){
        if (data['status'] == 'ok')
            {
                var bookId = data['id'];
                var prevAction = data['prev_action']
                var $clickedElement = $("[data-id=" + bookId + "]");

                // toggle action
                $clickedElement.data('action', prevAction == 'like' ?
                                    'unlike': 'like');
                // toggle link text
                if(prevAction == 'like') {
                    $($clickedElement.find("a.like").find("span.like-icon")).replaceWith('<span class="like-icon"><i class="fas fa-heart"></i></span>')
                }
                else {
                    $($clickedElement.find("a.like").find("span.like-icon")).replaceWith('<span class="like-icon"><i class="far fa-heart"></i></span>')
                // update total likes
                }
        
                var prevLikes = parseInt($($clickedElement.prev().prev()).text());
                $($clickedElement.prev().prev()).text(prevAction == 'like' ?
                prevLikes + 1 : prevLikes - 1);
            }
        }
        );
    });
    document.getElementById("book-list").addEventListener("change", sendValuesToServer, false);

{% endblock %}

{% block javascript %}
<script src="{% static 'book/book_search_add_list.js' %}"></script>
{% endblock %}

