{% extends "base_slim.html" %}
{% load js %}
{% load static %}
{% block title %}All books{% endblock %}
{% block css %}
<style>
    .hide {
        visibility:hidden;
    }
    .remove {
        visibility: hidden;
        display: none;

    }
</style>

{% endblock %}
{% block content %}

<label for="search">New Book: </label>
        <input type="text" placeholder="Book" id="search" />
        <button type="button" id="button">Search</button>
        <br />

        <div id="results"></div>
        <table id="results-table" class="hide">
        <thead>
            <tr>
                <th scope="col">Book name</th>
                <th scope="col">Book author</th>
            </tr>
        </thead>
        <tbody class="table body">

        </tbody>
        </table>

<ul class="all-books" id="book-list">
    {% for book in books %}
    <div class="book {{ book.book_name | class_like }}">
        <li id="options" class="item" data-index="{{ book.index }}" data-id="{{ book.id }}"> <a href="{{ book.get_absolute_url }}">{{ book.book_name }}</a> | {{ book.book_author }}
            |<span class="count">
                <span class="total">{{ book.like_balance }}</span>
                like{{ book.like_balance|pluralize }}
                </span>

            <a href="#" data-id="{{ book.id }}" data-action="{% if book.user_liked_book %}un{% endif %}like"
               class="like button {% if book.can_like %}{% else %}hide{%endif%}">
                {% if not book.user_liked_book %}
                    Like
                {% else %}
                    Unlike
                {% endif %}
            </a>

            <select id="book-status" class="book-status">
            <option value="reading" class="status">Currently reading</option>
            <option value="read" class="status">Read</option>
            <option value="want-to-read" class="status">Want to read</option>
            <option value="blank" selected="selected"></option>
             </select>
        </li>
    </div>
    {% endfor %}
</ul>
{% endblock  %}



{% block domready %}

    window.onunload = sendValuesToServer;



    var changedStatusBooks;
    var books = {{  book_data | js }};
    // first, set the drop down value based on the users library
    (function (){
        changedStatusBooks = {};
        var counter = {{ books.count }}
        for(i=0; i < counter; i++) {
            var currentBook = books[i];
            console.log("Current book: " +currentBook.name);

            if(currentBook.status == "read"){
                console.log("READ: " + currentBook.name);
                $("." + currentBook.name).find("#book-status").val("read");
            }
            else if(currentBook.status == "reading"){
                console.log(currentBook.name);
                $("." + currentBook.name).find('#book-status').val("reading");
            }
            else if(currentBook.status == "want-to-read"){
                $("." + currentBook.name).find("li").val("want-to-read");
            }
            else {
                $("." + currentBook.name).find("#book-status").val("blank");
            }

        }   // end for loop
    }())



    function sendValuesToServer(e) {
        target = e.target;
        if($(target).hasClass("book-status")){
            value = target.value;
            id = $(target).parent().data("id");

            $.post('{% url "book:change_status" %}',
            {
                    id : id,
                    value: value
            },
            function(data){
            if (data['status'] == 'OK')
                {
                if(data['can_like'] == "True") {
                    var bookId = data['id'];
                    $('li').find("[data-id='" + bookId + "']").removeClass("hide")
                }
                else {
                    var bookId = data['id'];
                    $('li').find("[data-id='" + bookId + "']").addClass("hide")
                }
                }
            }
        );
        }
    }


    // register like button, so that it changes the like amount and the text
    $('a.like').click(function(e){
    e.preventDefault();
    console.log("user clicked like");
    $.post('{% url "book:like" %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
        function(data){
        if (data['status'] == 'ok')
            {
                var bookId = data['id'];
                var prevAction = data['prev_action']
                var $clickedElement = $("[data-id=" + bookId + "]");

                // toggle action
                $clickedElement.data('action', prevAction == 'like' ?
                                    'unlike': 'like');
                // toggle link text
                $clickedElement.find("a.like").text(prevAction == 'like' ? 'Unlike' : 'Like');

                // update total likes
                var prevLikes = parseInt($($clickedElement.prev().find(".total")).text());

                $($clickedElement.prev().find(".total")).text(prevAction == 'like' ?
                prevLikes + 1 : prevLikes - 1);
            }
        }
        );
    });
    document.getElementById("book-list").addEventListener("change", sendValuesToServer, false);

{% endblock %}

{% block javascript %}
<script src="{% static 'book/book_search_add_list.js' %}"></script>
{% endblock %}