body {
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: lightgrey;
    padding: 10px;


    }

.logo {
    background-color: red;
}

.user {
    position: absolute;
    right: 5%;

}

.top-item {
    color: brown;
}

.top-item:hover {
    color: lightgrey;
    background-color: brown;
    padding: 8px;
    }

li.inline-top {
    display: inline;
    padding: 0.5em;
    color: brown;
    text-decoration: none;
}

.warning {
    color: black;
    }

/* Style login/logout/register */
.account {
    padding: 5px;
    background-color: lightseagreen;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    text-decoration: none;
}