.tab-panel {
    display:none;
}

.tab-panel.active {
    display:block;
    background-color: coral;
    margin-left: 40px;

}

.tab-control {
    text-decoration: none;
    color: black
}

li.tab {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2em;
    border-bottom: 3px solid #e5e5e5;
    background-color: #e5e5e5;

}

li.active {
    background-color: grey;
}

li.tab:hover {
    background-color: grey;
    
}